<div th:fragment="nav">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container">
                <a class="navbar-brand" th:href="@{/Home/home-page}">Patient Managment System</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                     id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" th:href="@{/patients/list}">Patients</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" th:href="@{/doctors/list}">Doctors</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" th:href="@{/diseases/list}">Diseases</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" th:href="@{/medicines/list}">Medicines</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<script>
</script>
    <script src="/nav-bar/js/jquery.min.js"></script>
    <script src="/nav-bar/bootstrap/js/bootstrap.min.js"></script>