<div th:fragment="footer">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3>Patient Management System</h3>
                        <p>A patient management system can ensure that you effectively schedule any future appointments.
           				  It can track and record information from various sources.
           				  Thus, allowing you to follow up with patients and reduce no-shows.
               			  It makes it simple to book appointments for patients as well.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/Footer/js/jquery.min.js"></script>
<script src="/Footer/bootstrap/js/bootstrap.min.js"></script>