<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/Footer/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Footer/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/Footer/css/Article-List.css">
    <link rel="stylesheet" href="/Footer/css/Footer-Dark.css">
    <link rel="stylesheet" href="/Footer/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nav-bar/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/nav-bar/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/nav-bar/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/nav-bar/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/nav-bar/css/styles.css">
    <link rel="stylesheet" href="/nav-bar/css/Team-Boxed.css">
    <link rel="stylesheet" href="/Home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Home/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/Home/css/Article-List.css">
    <link rel="stylesheet" href="/Home/css/styles.css">
</head>

<body>
<div th:replace="fragments/nav-bar/nav-bar :: nav"></div>
<div class="article-list">
    <div class="container">
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="/Home/img/a.jpg"></a>
                <h3 class="name">Patients</h3>
                <p class="description">Peoples are get sick, then they visit the hospital and the doctors figure out the disease and they
                    give medicine and other kinds of treatment.</p></div>
            <div
                    class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="/Home/img/c.jpg"></a>
                <h3 class="name">Medicines</h3>
                <p class="description">Medicines can treat diseases and improve your health.</p></div>
            <div
                    class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="/Home/img/b.jpg"></a>
                <h3 class="name">Hospital</h3>
                <p class="description">A place where people who are ill or injured are treated and taken care of by doctors and nurses.</p></div>
        </div>
    </div>
</div>
<script src="/Home/js/jquery.min.js"></script>
<script src="/Home/bootstrap/js/bootstrap.min.js"></script>
<div th:replace="fragments/Footer/Footer :: footer"></div>
</body>
</html>